<h3>{{@person.name}}</h3>
<button type="button" {{on "click" this.select}} data-test-sel="edit-button">
  Edit
</button>
<p>
  <img
    class="planet"
    src="/planets/{{@person.planet}}.jpg"
    alt={{@person.planet}}
  />
</p>