{{#if this.person}}
  <h2>Person Editor</h2>
  Editing {{this.person.name}}<br />

  <label>Planet:
    <Input @value={{this.newPlanet}} />
  </label><br/>

  <ConfirmButton @action={{this.cancel}} @message="Really cancel?">
    Cancel
  </ConfirmButton>

  <ConfirmButton
    @action={{this.update}}
    @message="Are you sure you want to update?"
    data-test-sel="edit-confirm-button"
  >
    Update
  </ConfirmButton>

{{/if}}